body {background-color:gray}

h1 {
	text-align:center;
	}

h2 {
	padding-top: 10%;
	text-align:center;
	}


p {text-align:center}
img {
	
	display:block;
	border: 1px solid #ddd;
	padding: 2%;
	
	width: 96%;
	
	}
	
.figure {
	
	display: table;
	text-align: center;
	color: gray;
	background-color: black;

	width:10vw;
	min-width:20%;
}